<title mat-dialog-title >{{title}}</title>
<mat-dialog-content>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
        <input
        type="hidden"
        formControlName="id">
        <mat-error>
            <ng-container *ngIf="brandControl.errors?.required">
                La marca es requerida.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <input type="text"
            placeholder="Ingresa o busca una marca..."
            matInput
            formControlName="brand"
            [matAutocomplete]="brand">
            <mat-autocomplete
            #brand="matAutocomplete" 
            [displayWith]="displayFn">
                <mat-option 
                *ngFor="let marca of filteredBrands | async" 
                [value]="marca">
                {{marca.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input type="text"
           placeholder="Ingresa o busca una categoria..."
           matInput
           formControlName="category"
            [matAutocomplete]="category">
            <mat-autocomplete
            #category="matAutocomplete" 
            [displayWith]="displayFn">
                <mat-option 
                *ngFor="let cat of filteredCategories | async" 
                [value]="cat">
                {{cat.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
        <div>
        <mat-form-field appearance="outline">
            <mat-label>Variations</mat-label>
            <input matInput type="text" formControlName="variations">
        </mat-form-field>
    </div>
        <div>
        <mat-error>
            <ng-container *ngIf="nameControl.errors?.required">
                El nombre es requerido.<br>
            </ng-container>
            <ng-container *ngIf="nameControl.errors?.minlength">
                Debe ingresar al menos 5 caracteres.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
    </div>
        <div>
        <mat-error>
            <ng-container *ngIf="currentPriceControl.errors?.required">
                El precio es requerido.<br>
            </ng-container>
            <ng-container *ngIf="currentPriceControl.errors?.pattern">
                El valor debe ser un formato de moneda valido.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>CurrentPrice</mat-label>
            <input matInput type="text" formControlName="currentPrice">
        </mat-form-field>
    </div>
        <div>
        <mat-error>
            <ng-container *ngIf="rawPriceControl.errors?.required">
                rawPrice es requerida.<br>
            </ng-container>
            <ng-container *ngIf="rawPriceControl.errors?.pattern">
                El valor debe ser un formato de moneda valido.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>RawPrice</mat-label>
            <input matInput type="text" formControlName="rawPrice">
        </mat-form-field>
    </div>
        <div>
        <mat-form-field appearance="outline">
            <mat-label>LikesCount</mat-label>
            <input matInput type="number" step="1" formControlName="likesCount">
        </mat-form-field>
    </div>
        <div>
        <mat-error>
            <ng-container *ngIf="discountControl.errors?.required">
                El descuento es requerido<br>
            </ng-container>
            <ng-container *ngIf="discountControl.errors?.min">
                El descuento no puede ser negativo.<br>
            </ng-container>
            <ng-container *ngIf="discountControl.errors?.max">
                El descuento no debe superar 2147483647.<br>
            </ng-container>
            <ng-container *ngIf="discountControl.errors?.pattern">
                El descuento debe ser un entero.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput  type="number" step="0.01" formControlName="discount">
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox formControlName="isNew">IsNew</mat-checkbox>
    </div>
    <div>
        <mat-error>
            <ng-container *ngIf="modelControl.errors?.required">
                El modelo es requerido.<br>
            </ng-container>
            <ng-container *ngIf="modelControl.errors?.maxlength">
                El modelo es no debe pasar de 9 caracteres.
            </ng-container>
        </mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Url</mat-label>
            <input matInput type="text" formControlName="url">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>ImageUrl</mat-label>
            <input matInput type="text" formControlName="imageUrl">
        </mat-form-field>
    </div>
    <!--
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    -->
</form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button
    mat-button
    color="accent"
    cdkFocusInitial
    (click)="close()">
    Close
  </button>
  <button
    type="submit"
    color="primary"
    mat-raised-button
    (click)="onSubmit()"
    [disabled]="productForm.invalid">
    Save
  </button>
</div>

